<div class="container">
    <div class="panel-heading">
      <h2>Lista de Usuários</h2>
     
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Usuário</th>
                  <th>Senha</th>
                  <th>Ativo</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios | async">
                  <td>{{usuario.id}}</td>
                  <td>{{usuario.nome}}</td>
                  <td>{{usuario.usuario}}</td>
                  <td>{{usuario.senha}}</td>
                  <td>{{usuario.ativo}}</td>
                  <td>
                    <button (click)="excluiPorId(usuario.id)"   class="btn btn-danger">Exclui</button>
                    <button (click)="detalhaPorId(usuario.id)"  class="btn btn-info" style="margin-left: 10px">Detalha</button>
                    <button (click)="atualizaPorId(usuario.id)" class="btn btn-info" style="margin-left: 10px">Atualiza</button>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>