<div class="container">

    <div class="panel-heading">
      <h2>Detalhes do Usuário</h2>
    </div>

    <div class="panel-body">
        <div>
            <div>
                <label><b>Id:</b></label><span>{{ usuario.id }}</span>
            </div>
            <div>
                <label><b>Nome: </b></label> {{ usuario.nome }}
            </div>
            <div>
                <label><b>Usuário: </b></label> {{ usuario.usuario }}
            </div>
            <div>
                <label><b>Senha: </b></label> {{ usuario.senha }}
            </div>
            <div>
                <label><b>Ativo: </b></label> {{ usuario.ativo }}
            </div>
        </div>
    </div>
    <br>
    <br>
    <button (click)="retornaAListagem()" class="btn btn-primary">retornar</button>
</div>