<div class="container">

    <div class="panel-heading">
      <h2>Detalhes do Usuário</h2>
    </div>

    <div class="panel-body">
        {{ usuarioInterno | json }}

        {{ usuarioInterno.id }}

            {{ usuarioInterno.nome }}
        
        <!-- <div>
            <div>
                <label><b>First Name: </b></label><span>{{ usuarioInterno.id }}</span>
            </div>
            <div>
                <label><b>Last Name: </b></label> {{ usuarioInterno.nome }}
            </div>
        </div> -->
    </div>

</div>