<div class="container">

    <div class="panel-heading">
        <h2>Criação de Usuário</h2>
    </div>

    
    <div class="panel-body">
    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">

            <fieldset disabled>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label class="form-control-label" for="id">Id</label>
                        <input type="text" class="form-control" name="id" [(ngModel)]="_usuario.id">
                    </div>
                </div>
            </fieldset>

            <div class="form-row">
                <div class="form-group col-12">
                    <label class="form-control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" name="nome" required [(ngModel)]="_usuario.nome">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-4">
                        <label class="form-control-label" for="usuario">Usuario</label>
                        <input type="text" class="form-control" name="usuario" required [(ngModel)]="_usuario.usuario">
                </div>
                <div class="form-group col-4">
                        <label class="form-control-label" for="senha">Senha</label>
                        <input type="password" class="form-control" name="senha" required [(ngModel)]="_usuario.senha">   
                </div>
                <div class="form-group col-4">
                    <label class="form-control-label" for="situacao">Situação</label>
                    <select class="custom-select" name="situacao" required [(ngModel)]="_usuario.ativo">
                        <option value="">Selecione</option>
                        <option value=true>Ativo</option>
                        <option value=false>Inativo</option>
                    </select>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
    </form>
    </div>

</div>